html {
  font-size: 62.5%;
  height:100%;
  background: linear-gradient(0deg, rgb(235, 230, 171) 20%, rgba(255,255,255,1) 100%)no-repeat;
}

.logoDiv{
  /* border: 3px solid red; */
  margin: auto;
  height: 9rem;
  width: 30rem;
}
.logo{
  /* border: 3px solid red; */
  margin: auto;
  height: 8rem;
  width: 25rem;
 /* margin-left: 10rem; */
}
.first_half{
  /* border: 2px solid rgb(218, 43, 43); */
  height: 80rem;
  display: flex;
  justify-content: space-around;
}
.left_first_half{
  /* border: 1px solid rgb(199, 5, 5); */
  height: 60rem;
  width: 40rem;
}
.right_first_half{
  /* border: 1px solid black; */
  height: 60rem;
  width: 90rem;
}
b{
  font-size: 1.5rem;

}
ul{
  font-size: 1.5rem;
}
.awardImg{
   width: 40rem;
   height: 60rem;
   /* position: relative; */
   margin: auto;
   /* margin-left: 15rem; */
}
.awardCeremony{
  width: 100%;
  height: 40rem;
}
@media (max-width:998px){
  html{
    font-size: 55%
  }
  .awardImg{
    width: 35rem;
    height: 60rem;
    margin: auto;
    /* margin-left: 4rem; */
 }
}

@media (max-width:768px){
  html{
    font-size: 45%
  }
  .awardImg{
    width: 32rem;
    height: 59rem;
    /* position: relative; */
    margin: auto;
    margin-left: 2rem;
 }
}

